<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){

var colors = ['red','blue','green','yellow','cyan','orange','white','Fuchsia','Olive','Teal',
'White',
'Yellow',
'Blue',
'Red',
'Green',
'Black',
'Brown',
'Azure',
'Ivory',
'Teal',
'Silver',
'Purple',
'Navy blue',
'Pea green',
'Gray','Orange',
'Maroon',
'Charcoal',
'Aquamarine',
'Coral',
'Fuchsia',
'Wheat',
'Lime',
'Crimson',
'Khaki',
'Hot pink',
'Magenta',
'Olden',
'Plum',
'Olive',
'Cyan'
];

$('.column').each(function(){
  var new_color = colors[Math.floor(Math.random()*colors.length)];
  $(this).css('background-color',new_color);
});
});
</script>
<style>
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 100%;
  padding: 10px ;
  height: 200px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Banner Page</h2>
<%if (BannerRecords.length >0){ %>
    <% BannerRecords.forEach(function(row){ %>
<div class="row" >
  <div class="column" >
    <h2><%= row.name %></h2>
    <p><%= row.content %></p>

  </div>
</div>
<% })} %> 
</body>
</html>
