<!DOCTYPE html>
<html>
<head>
	<title>Data</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>
<style>
	a {
		color: white;
	 }
	</style>
<script type="text/javascript">
	$(document).ready(function(){
	
		$( "#form_banner" ).submit(function(event) {
			event.preventDefault();

			$.ajax({
				type: 'POST',
				url: '/profile',
				data: $('#form_banner').serialize(),
				dataType: "json",
				success: function(response){
					//alert("a");
					//console.log(response.Success);
					$('#form_banner')[0].reset();

					document.getElementById("check").innerHTML=response.Success;
					
						 setTimeout(function(){
							 document.getElementById("check").innerHTML="";
						 },3000);
						 if (response.Success=="You are regestered,You can login now.") {
							 document.getElementById("aa").click();
						 };
					 },
					 error: function() {
					 }
				 })
		});
	});
	
</script>

	<body>

		<div class="col-md-4 col-md-offset-0">
			<div>
				
			</div>
			<div><h3>Banner Configurations</h3></div>
			</div>
			<div  class="col-md-9 col-md-offset-0">
			<div class="form-group">
				<form id="form_banner" method="post" action='/admincon'>
					<label for="" >Banner Name</label>
					<input type="text" name="banner_name" placeholder="Banner name" required="" class="form-control"><br/>
					<label for="" >Author </label>
					<input type="text" name="author_name" placeholder="Author name (Note : author should be your user name)" required="" class="form-control"><br/>
					<label for="" >Banner Content</label>
					<textarea class="form-control rounded-0" name="banner_content"  placeholder="Banner content" rows="3"></textarea><br/>
					<input type="submit" value="Publish" class="btn btn-success">
				</form>
			</div>
			<div class="mssg bg-danger">
			<span id="check"></span>
			</div>
			<button class="btn btn-primary"><a href="/logout" ;>Logout</a></button>
			<button class="btn btn-primary"><a href="/banner" ;>Banner Page</a></button>
			</div>
		</div>	
	</body>

<script>
$("#form_banner").submit(function(event){
			alert("Banner Published");
		});
</script>
</html>